.voting-area{
    display: flex;
    height: 80%;
    width: 80%;
    margin: 0 auto;
}
.footer{
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    position: absolute;
    display: flex;
    bottom: -20px;
    color: #ccc;
}
